Repository erikbos/gatekeeper: changes, and which Codecov flags are due for each by the changed paths.
All: dbadmin, envoyauth, envoycp, envoyals, pkg

github action: fix to run on main branch
  .github/workflows/main.yml
Due: none

Update docs
  docs/envoyauth.md
Due: none

Add attribute to configure http filter of listener (#57)
  cmd/envoycp/listener.go
  cmd/envoycp/listener_test.go
  cmd/envoycp/route.go
  deployment/docker/envoycp.yaml
  docs/api/listener.md
  docs/api/route.md
  docs/envoyauth.md
  pkg/types/attribute.go
  pkg/types/cluster.go
  pkg/types/error.go
  pkg/types/listener.go
  pkg/types/route.go
Due: envoycp, pkg

Add virtual clusters based upon routenames
  cmd/envoycp/route.go
Due: envoycp

Add virtual clusters based upon routenames (#60)
  cmd/envoycp/route.go
Due: envoycp

Switch to new http protocol options
  cmd/envoycp/cluster.go
Due: envoycp

Fix idletimeout setting
  cmd/envoycp/cluster.go
Due: envoycp

Add test
  cmd/envoycp/cluster_test.go
Due: envoycp

Fix package level tests
  cmd/envoycp/cluster_test.go
Due: envoycp

envoycp: switch to new http protocol options (#61)
  cmd/envoycp/cluster.go
  cmd/envoycp/cluster_test.go
Due: envoycp

Add tests
  cmd/envoycp/route_test.go
Due: envoycp

More tests
  cmd/envoycp/cluster_test.go
  cmd/envoycp/route.go
  cmd/envoycp/route_test.go
Due: envoycp

Add default request retry value
  pkg/types/route.go
Due: pkg

Remove hardcoded constants
  cmd/envoycp/route.go
  pkg/types/route.go
Due: envoycp, pkg

More tests & minor bug fixes
  cmd/envoycp/route.go
  cmd/envoycp/route_test.go
Due: envoycp

Rename imported packages
  cmd/envoycp/route.go
  cmd/envoycp/route_test.go
Due: envoycp

Rename routeEntry to route
  cmd/envoycp/route.go
  cmd/envoycp/route_test.go
Due: envoycp

Fix golang ci lint version
  .github/workflows/build.yml
Due: none

Update golang cilint to v2
  .github/workflows/main.yml
Due: none

Fix golangci-lint path
  .github/workflows/build.yml
  .github/workflows/main.yml
Due: none

Make envoy package names consistent
  cmd/envoycp/cluster.go
  cmd/envoycp/common.go
  cmd/envoycp/listener.go
Due: envoycp

move metrics code to metrics package
  cmd/envoycp/callback.go
  cmd/envoycp/main.go
  cmd/envoycp/metrics/metrics.go
Due: envoycp

envoycp: add more tests (#62)
  .github/workflows/build.yml
  .github/workflows/main.yml
  cmd/envoycp/callback.go
  cmd/envoycp/cluster.go
  cmd/envoycp/cluster_test.go
  cmd/envoycp/common.go
  cmd/envoycp/listener.go
  cmd/envoycp/main.go
  cmd/envoycp/metrics/metrics.go
  cmd/envoycp/route.go
  cmd/envoycp/route_test.go
  pkg/types/route.go
Due: envoycp, pkg

Run apps as user body in container
  build/Dockerfile.dbadmin
  build/Dockerfile.envoyals
  build/Dockerfile.envoyauth
  build/Dockerfile.envoycp
  build/Dockerfile.testbackend
Due: none

Run apps as user body in container (#63)
  build/Dockerfile.dbadmin
  build/Dockerfile.envoyals
  build/Dockerfile.envoyauth
  build/Dockerfile.envoycp
  build/Dockerfile.testbackend
Due: none

dbadmin: move metrics into separate package
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/metrics/metrics.go
Due: dbadmin

Update to Go 1.16
  go.mod
  go.sum
Due: none

Update to Go 1.16 (#64)
  go.mod
  go.sum
Due: none

gocql fix validate connecting to the right host
  pkg/db/cassandra/main.go
Due: pkg

gocql fix validate connecting to the right host (#65)
  pkg/db/cassandra/main.go
Due: pkg

Fix error strings should not be capitalized
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/route.go
  cmd/dbadmin/service/user.go
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/cluster.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/developerapp.go
  pkg/db/cassandra/key.go
  pkg/db/cassandra/listener.go
  pkg/db/cassandra/oauth.go
  pkg/db/cassandra/role.go
  pkg/db/cassandra/route.go
  pkg/db/cassandra/user.go
Due: dbadmin, pkg

Fix more
  cmd/envoyauth/oauth/oauth.go
  cmd/envoyauth/oauth/oauthclient.go
  cmd/envoyauth/oauth/oauthtokenstore.go
  cmd/envoyauth/policy/authorization.go
Due: none

fix more
  pkg/webadmin/webadmin.go
Due: pkg

Fix golint warning: error strings should not be capitalized (#66)
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/route.go
  cmd/dbadmin/service/user.go
  cmd/envoyauth/oauth/oauth.go
  cmd/envoyauth/oauth/oauthclient.go
  cmd/envoyauth/oauth/oauthtokenstore.go
  cmd/envoyauth/policy/authorization.go
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/cluster.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/developerapp.go
  pkg/db/cassandra/key.go
  pkg/db/cassandra/listener.go
  pkg/db/cassandra/oauth.go
  pkg/db/cassandra/role.go
  pkg/db/cassandra/route.go
  pkg/db/cassandra/user.go
  pkg/webadmin/webadmin.go
Due: dbadmin, pkg

Partial openapi specs
  cmd/dbadmin/apidocs/gatekeeper.yaml
Due: dbadmin

dbadmin: add /docs/ endpoint with apiexploer
  cmd/dbadmin/apidocs/index.htm
  cmd/dbadmin/apidocs/redoc.standalone.js
  cmd/dbadmin/main.go
  pkg/shared/web.go
Due: dbadmin, pkg

fix comment
  cmd/dbadmin/main.go
  pkg/shared/web.go
Due: dbadmin, pkg

redoc: expand 200 response by default
  cmd/dbadmin/apidocs/index.htm
Due: dbadmin

Add openapi spec for listener, route, cluster (#67)
  cmd/dbadmin/apidocs/gatekeeper.yaml
  cmd/dbadmin/apidocs/index.htm
  cmd/dbadmin/apidocs/redoc.standalone.js
  cmd/dbadmin/main.go
  pkg/shared/web.go
Due: dbadmin, pkg

db: set correct default passwd for user admin
  pkg/db/cassandra/init.go
Due: pkg

Path conditions:
  dbadmin: any of: cmd/dbadmin/
  envoyauth: any of: cmd/frontend/
  envoycp: any of: cmd/envoycp/
  envoyals: any of: cmd/envoyals/
  pkg: any of: pkg/
