Repository erikbos/gatekeeper: changes, and which Codecov flags are due for each by the changed paths.
All: managementserver, envoyauth, controlplane, envoyals, pkg

.codecov.yml:

coverage:
  precision: 0
  status:
    patch: off
    project:
      default: off
      managementserver:
        flags:
          - managementserver
          - pkg
      envoyauth:
        flags:
          - envoyauth
          - pkg
      controlplane:
        flags:
          - controlplane
          - pkg
      envoyals:
        flags:
          - envoyals
          - pkg

flags:
  managementserver:
    paths:
      - cmd/managementserver/
  envoyauth:
    paths:
      - cmd/frontend/
  controlplane:
    paths:
      - cmd/controlplane/
  envoyals:
    paths:
      - cmd/envoyals/
  pkg:
    paths:
      - pkg/

Rename exampe conf file
  deployment/docker/controlplane.yaml
  deployment/docker/managementserver.yaml
Due: none

Remove comments
  cmd/envoyals/acccesslog.go
Due: envoyals

Rename als to accesslogserver
  .codecov.yml
  .github/workflows/build.yml
  .github/workflows/main.yml
  Makefile
  build/Dockerfile.envoyals
  cmd/accesslogserver/acccesslog.go
  cmd/accesslogserver/config.go
  cmd/accesslogserver/main.go
  cmd/accesslogserver/metrics/metrics.go
  cmd/managementserver/handler/cluster.go
  cmd/managementserver/handler/route.go
  deployment/docker/envoyals.yaml
  deployment/docker/envoyproxy.yaml
  deployment/docker/gatekeeper.yaml
  docs/README.md
  docs/accesslogserver.md
Due: managementserver

Rename envoyauth to authserver
  .codecov.yml
  .github/workflows/build.yml
  .github/workflows/main.yml
  Makefile
  build/Dockerfile.envoyauth
  cmd/accesslogserver/config.go
  cmd/accesslogserver/main.go
  cmd/authserver/config.go
  cmd/authserver/extauthz.go
  cmd/authserver/main.go
  cmd/authserver/metrics/metrics.go
  cmd/authserver/oauth/oauth.go
  cmd/authserver/oauth/oauthclient.go
  cmd/authserver/oauth/oauthtokenstore.go
  cmd/authserver/policy/authorization.go
  cmd/authserver/policy/geoiplookup.go
  cmd/authserver/policy/geoiplookup_test.go
  cmd/authserver/policy/policy chain.go
  cmd/authserver/policy/policy.go
  cmd/authserver/request/request.go
  cmd/authserver/virtualhost.go
  cmd/controlplane/config.go
  cmd/controlplane/listener_test.go
  cmd/controlplane/main.go
  cmd/managementserver/config.go
  cmd/managementserver/main.go
  deployment/docker/README.md
  deployment/docker/accesslogserver.yaml
  deployment/docker/authserver.yaml
  deployment/docker/envoyproxy.yaml
  deployment/docker/gatekeeper.yaml
  docs/README.md
  docs/api/route.md
  docs/envoyauth.md
Due: managementserver, controlplane

Remove misplaced file
  cmd/managementserver/audit.go
Due: managementserver

Strip sensitive data from fail logs
  cmd/managementserver/audit/audit.go
Due: managementserver

Rename dockerfiles
  build/Dockerfile.accesslogserver
  build/Dockerfile.authserver
  build/Dockerfile.controlplane
  build/Dockerfile.managementserver
Due: none

Switch to golang.org protobuf packages
  cmd/accesslogserver/acccesslog.go
  cmd/accesslogserver/main.go
  cmd/authserver/main.go
  cmd/controlplane/cluster.go
  cmd/controlplane/cluster_test.go
  cmd/controlplane/common.go
  cmd/controlplane/common_test.go
  cmd/controlplane/main.go
  cmd/controlplane/route.go
  cmd/controlplane/route_test.go
  cmd/managementserver/main.go
Due: managementserver, controlplane

Rename readiness function
  pkg/webadmin/webadmin.go
Due: pkg

db: add wrong column value type handling
  pkg/db/cassandra/misc.go
Due: pkg

Upgrade oauth2 package to v4
  cmd/authserver/oauth/oauth.go
  cmd/authserver/oauth/oauthclient.go
  cmd/authserver/oauth/oauthtokenstore.go
  cmd/authserver/policy/policy.go
  go.mod
  go.sum
Due: none

Upgrade oauth2 package to v4 (#107)
  cmd/authserver/oauth/oauth.go
  cmd/authserver/oauth/oauthclient.go
  cmd/authserver/oauth/oauthtokenstore.go
  cmd/authserver/policy/policy.go
  go.mod
  go.sum
Due: none

fix typo in error msg
  pkg/db/cassandra/cluster.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/developerapp.go
  pkg/db/cassandra/key.go
  pkg/db/cassandra/listener.go
  pkg/db/cassandra/organization.go
  pkg/db/cassandra/role.go
  pkg/db/cassandra/route.go
  pkg/db/cassandra/user.go
  pkg/webadmin/webadmin.go
Due: pkg

ms: use indented json
  cmd/authserver/oauth/oauth.go
  cmd/managementserver/handler/apiproduct.go
  cmd/managementserver/handler/attribute.go
  cmd/managementserver/handler/audit.go
  cmd/managementserver/handler/cluster.go
  cmd/managementserver/handler/developer.go
  cmd/managementserver/handler/developerapp.go
  cmd/managementserver/handler/handler.gen.go
  cmd/managementserver/handler/key.go
  cmd/managementserver/handler/listener.go
  cmd/managementserver/handler/main.go
  cmd/managementserver/handler/organization.go
  cmd/managementserver/handler/role.go
  cmd/managementserver/handler/route.go
  cmd/managementserver/handler/user.go
Due: managementserver

ms: update list of allowed attributes
  cmd/managementserver/audit/audit.go
  pkg/types/cluster.go
  pkg/types/listener.go
  pkg/types/route.go
Due: managementserver, pkg

ms: update list of allowed listener attributes
  pkg/types/listener.go
Due: pkg

ms: add cors support
  cmd/managementserver/handler/main.go
  cmd/managementserver/handler/role.go
  cmd/managementserver/handler/user.go
  go.mod
  go.sum
Due: managementserver

update renamed path gitignore
  .gitignore
Due: none

ms: fix handle CORS before auth check
  cmd/managementserver/handler/main.go
  pkg/types/role.go
Due: managementserver, pkg

ms: fix field typos
  cmd/managementserver/handler/apidocs/gatekeeper.yaml
  cmd/managementserver/handler/handler.gen.go
  cmd/managementserver/service/user.go
  openapi/gatekeeper.yaml
Due: managementserver

ms: fix golint warning
  cmd/managementserver/handler/auth.go
  pkg/types/role.go
Due: managementserver, pkg

as: set default org
  cmd/authserver/extauthz.go
Due: none

Upgrade packages to latest
  cmd/authserver/extauthz.go
  cmd/authserver/policy/authorization.go
  cmd/authserver/policy/policy.go
  go.mod
  go.sum
  pkg/types/role.go
  tests/dbadmin/test_key.py
Due: pkg

Upgrade packages to latest (#110)
  cmd/authserver/extauthz.go
  cmd/authserver/policy/authorization.go
  cmd/authserver/policy/policy.go
  go.mod
  go.sum
  pkg/types/role.go
  tests/dbadmin/test_key.py
Due: pkg

Update to go-oauth2 v4.4.3
  go.mod
  go.sum
Due: none

Update to go-oauth2 v4.4.3 (#115)
  go.mod
  go.sum
Due: none

Add types
  pkg/db/cassandra/company.go
  pkg/db/cassandra/init.go
  pkg/types/type.go
Due: pkg

OpenAPI definition
  cmd/managementserver/handler/apidocs/gatekeeper.yaml
Due: managementserver

Add type
  pkg/types/company.go
Due: pkg

Add db handling
  pkg/db/cassandra/company.go
  pkg/db/cassandra/init.go
  pkg/db/cassandra/main.go
  pkg/db/database.go
Due: pkg

Service layer for company
  cmd/managementserver/service/company.go
  cmd/managementserver/service/main.go
  cmd/managementserver/service/service.go
Due: managementserver

Add company to audit logging
  pkg/types/audit.go
Due: pkg

openapi spec
  openapi/gatekeeper.yaml
Due: none

http handler
  cmd/managementserver/audit/audit.go
  cmd/managementserver/handler/company.go
  cmd/managementserver/handler/handler.gen.go
Due: managementserver

Misc fixes
  cmd/managementserver/service/company.go
  go.sum
  pkg/db/cassandra/company.go
Due: managementserver, pkg

Add apps field to api response
  cmd/managementserver/handler/company.go
  pkg/types/company.go
Due: managementserver, pkg

Add tests
  tests/dbadmin/company.py
  tests/dbadmin/schemas/companies.json
  tests/dbadmin/schemas/company-names.json
  tests/dbadmin/schemas/company.json
  tests/dbadmin/test_company.py
Due: none

add change status test
  tests/dbadmin/company.py
  tests/dbadmin/test_company.py
Due: none

fix typos
  tests/dbadmin/company.py
Due: none
