Repository erikbos/gatekeeper: changes, and which Codecov flags are due for each by the changed paths.
All: dbadmin, envoyauth, envoycp, envoyals, pkg

.codecov.yml:

coverage:
  precision: 0
  status:
    patch: off
    project:
      default: off
      dbadmin:
        flags:
          - dbadmin
          - pkg
      envoyauth:
        flags:
          - envoyauth
          - pkg
      envoycp:
        flags:
          - emvoycp
          - pkg
      envoyals:
        flags:
          - emvoycp
          - pkg

flags:
  dbadmin:
    paths:
      - cmd/dbadmin/
  envoyauth:
    paths:
      - cmd/frontend/
  envoycp:
    paths:
      - cmd/envoycp/
  envoyals:
    paths:
      - cmd/envoyals/
  pkg:
    paths:
      - pkg/

fix
  go.mod
  go.sum
  pkg/db/cassandra/developerapp.go
  pkg/types/developerapp.go
Due: pkg

Move app over to openapi generated code
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/metrics.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  openapi/gatekeeper.yaml
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/misc.go
  pkg/types/developer.go
  pkg/types/developerapp.go
  tests/dbadmin/developerapp.py
  tests/dbadmin/test_developerapp.py
Due: dbadmin, pkg

fix
  cmd/dbadmin/handler/apiproduct.go
  cmd/dbadmin/handler/cluster.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/listener.go
  cmd/dbadmin/handler/route.go
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/cluster.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/developerapp.go
  pkg/db/cassandra/listener.go
  pkg/db/cassandra/misc.go
  pkg/db/cassandra/misc_test.go
  pkg/db/cassandra/route.go
  pkg/types/apiproduct.go
  pkg/types/attribute.go
  pkg/types/attribute_test.go
  pkg/types/cluster.go
  pkg/types/key.go
  pkg/types/listener.go
  pkg/types/role.go
  pkg/types/route.go
  pkg/types/user.go
  tests/dbadmin/developerapp.py
  tests/dbadmin/test_developerapp.py
  tests/dbadmin/test_key.py
Due: dbadmin, pkg

Fix
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/listener.go
  pkg/db/cassandra/user.go
  pkg/types/apiproduct.go
  pkg/types/listener.go
  pkg/types/misc.go
  pkg/types/role.go
  pkg/types/user.go
Due: dbadmin, pkg

apiproduct openapi based
  cmd/dbadmin/handler/apiproduct.go
  cmd/dbadmin/handler/attribute.go
  cmd/dbadmin/handler/cluster.go
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/listener.go
  cmd/dbadmin/handler/route.go
  cmd/dbadmin/service/apiproduct.go
  cmd/envoyauth/policy/authorization.go
  openapi/gatekeeper.yaml
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/cluster.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/developerapp.go
  pkg/db/cassandra/init.go
  pkg/types/apiproduct.go
  tests/dbadmin/apiproduct.py
  tests/dbadmin/schemas/api-product.json
  tests/dbadmin/test_developerapp.py
  tests/dbadmin/test_key.py
Due: dbadmin, pkg

Listener, route, cluster converted
  .#ee
  cmd/dbadmin/handler/cluster.go
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/listener.go
  cmd/dbadmin/handler/route.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/route.go
  openapi/gatekeeper.yaml
  pkg/db/cassandra/cluster.go
  pkg/db/cassandra/listener.go
  pkg/db/cassandra/route.go
  pkg/db/entitycache.go
  pkg/types/cluster.go
  pkg/types/listener.go
  pkg/types/route.go
Due: dbadmin, pkg

Consolidate handlers
  cmd/dbadmin/handler/apiproduct.go
  cmd/dbadmin/handler/attribute.go
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/cluster.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/listener.go
  cmd/dbadmin/handler/route.go
Due: dbadmin

converted user & role
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/user.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/user.go
  ee
  openapi/gatekeeper.yaml
  pkg/db/cassandra/misc.go
  pkg/db/cassandra/role.go
  pkg/db/cassandra/user.go
  pkg/types/role.go
  pkg/types/user.go
Due: dbadmin, pkg

Role output fixed
  .#ee
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/role.go
  openapi/gatekeeper.yaml
Due: dbadmin

converted key
  cmd/dbadmin/handler/apiproduct.go
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/cluster.go
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/listener.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/route.go
  cmd/dbadmin/handler/user.go
  openapi/gatekeeper.yaml
  pkg/types/error.go
  pkg/types/key.go
  tests/dbadmin/test_key.py
Due: dbadmin, pkg

sort urls on indexpage
  pkg/webadmin/webadmin.go
Due: pkg

Fix basic auth check
  cmd/dbadmin/handler/auth.go
  pkg/types/error.go
Due: dbadmin, pkg

fixes for key
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/service.go
  openapi/gatekeeper.yaml
  pkg/db/cassandra/key.go
  pkg/types/key.go
  pkg/types/role.go
  tests/dbadmin/test_key.py
Due: dbadmin, pkg

Allow misfomed error msgs
  tests/dbadmin/schemas/error.json
Due: none

Do not test setting displayName on app
  tests/dbadmin/developerapp.py
Due: none

Show db error in case of issues
  pkg/db/cassandra/cluster.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/developerapp.go
  pkg/db/cassandra/listener.go
  pkg/db/cassandra/oauth.go
  pkg/db/cassandra/role.go
  pkg/db/cassandra/route.go
  pkg/db/cassandra/user.go
Due: pkg

Add attributes to key
  pkg/db/cassandra/init.go
  pkg/db/cassandra/key.go
  pkg/db/cassandra/misc.go
  pkg/types/key.go
Due: pkg

misc fixes
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/service/apiproduct.go
  openapi/gatekeeper.yaml
  pkg/db/cache/key.go
  pkg/db/cassandra/key.go
  pkg/db/database.go
  pkg/types/key.go
  tests/dbadmin/test_key.py
Due: dbadmin, pkg

misc fixes 2
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/key.go
  openapi/gatekeeper.yaml
Due: dbadmin

add organization
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/metrics.go
  cmd/dbadmin/handler/organization.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/handler/user.go
  cmd/dbadmin/service/main.go
  cmd/dbadmin/service/organization.go
  cmd/dbadmin/service/service.go
  openapi/gatekeeper.yaml
  pkg/db/cassandra/init.go
  pkg/db/cassandra/main.go
  pkg/db/cassandra/organization.go
  pkg/db/database.go
  pkg/types/error.go
  pkg/types/organization.go
  tests/dbadmin/test_developer.py
Due: dbadmin, pkg

Fix comments
  cmd/dbadmin/handler/apiproduct.go
  cmd/dbadmin/handler/attribute.go
  cmd/dbadmin/handler/cluster.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/listener.go
  cmd/dbadmin/handler/organization.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/route.go
  cmd/dbadmin/handler/user.go
Due: dbadmin

Remove backup file
  cmd/dbadmin/apidocs/redoc.standalone.js.old
  cmd/dbadmin/handler/dbadmin.gen.go
  openapi/gatekeeper.yaml
Due: dbadmin

Remove static org conf
  cmd/dbadmin/config.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/main.go
Due: dbadmin

Tidy up spec
  openapi/gatekeeper.yaml
Due: none

Clean up error handling
  cmd/dbadmin/handler/apiproduct.go
  cmd/dbadmin/handler/cluster.go
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/listener.go
  cmd/dbadmin/handler/organization.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/route.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/handler/user.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/service.go
  cmd/dbadmin/service/user.go
  ee
  pkg/db/cache/role.go
  pkg/db/cache/user.go
  pkg/db/cassandra/role.go
  pkg/db/cassandra/user.go
  pkg/db/database.go
  pkg/types/attribute.go
Due: dbadmin, pkg

Fix 15
  cmd/dbadmin/handler/apiproduct.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/service.go
Due: dbadmin

Simplify attribute code
  cmd/dbadmin/handler/apiproduct.go
  cmd/dbadmin/handler/cluster.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/listener.go
  cmd/dbadmin/handler/organization.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/route.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/handler/user.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/organization.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/route.go
  cmd/dbadmin/service/service.go
  cmd/dbadmin/service/user.go
  pkg/types/attribute.go
  pkg/types/attribute_test.go
Due: dbadmin, pkg

add attribute support to key
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/key.go
  openapi/gatekeeper.yaml
  tests/dbadmin/test_key.py
Due: dbadmin

test: escape url chars
  cmd/dbadmin/handler/metrics.go
  tests/dbadmin/apiproduct.py
  tests/dbadmin/attribute.py
  tests/dbadmin/developer.py
  tests/dbadmin/developerapp.py
  tests/dbadmin/key.py
Due: dbadmin

Add organization support
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/status/apiproduct.go
  cmd/dbadmin/handler/status/developer.go
  cmd/dbadmin/handler/status/listener.go
  cmd/dbadmin/handler/status/main.go
  cmd/dbadmin/handler/status/user.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/handler/user.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/service.go
  cmd/dbadmin/service/user.go
  cmd/envoyauth/oauth/oauthclient.go
  cmd/envoyauth/policy/authorization.go
  cmd/envoyauth/request/request.go
  pkg/db/cache/apiproduct.go
  pkg/db/cache/developer.go
  pkg/db/cache/developerapp.go
  pkg/db/cache/key.go
  pkg/db/cache/role.go
  pkg/db/cache/user.go
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/developerapp.go
  pkg/db/cassandra/key.go
  pkg/db/cassandra/role.go
  pkg/db/cassandra/user.go
  pkg/db/database.go
  pkg/types/attribute.go
  pkg/types/organization.go
Due: dbadmin, pkg

Add support for orgs to status page
  cmd/dbadmin/handler/status/apiproduct.go
  cmd/dbadmin/handler/status/developer.go
Due: dbadmin

lint: handle error
  cmd/dbadmin/service/developerapp.go
Due: dbadmin

fix attribute test
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/handler.go
  pkg/db/cassandra/misc_test.go
  pkg/types/attribute.go
Due: dbadmin, pkg

Add validation for create and update requests
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/organization.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/route.go
  cmd/dbadmin/service/user.go
  cmd/envoycp/cluster.go
  cmd/envoycp/route.go
  pkg/types/apiproduct.go
  pkg/types/attribute.go
  pkg/types/cluster.go
  pkg/types/developer.go
  pkg/types/developerapp.go
  pkg/types/key.go
  pkg/types/listener.go
  pkg/types/organization.go
  pkg/types/role.go
  pkg/types/route.go
  pkg/types/user.go
Due: dbadmin, envoycp, pkg

Add go.mod
  go.mod
Due: none

dbadmin: add validation for create and update requests (#101)
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/organization.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/route.go
  cmd/dbadmin/service/user.go
  cmd/envoycp/cluster.go
  cmd/envoycp/route.go
  go.mod
  pkg/types/apiproduct.go
  pkg/types/attribute.go
  pkg/types/cluster.go
  pkg/types/developer.go
  pkg/types/developerapp.go
  pkg/types/key.go
  pkg/types/listener.go
  pkg/types/organization.go
  pkg/types/role.go
  pkg/types/route.go
  pkg/types/user.go
Due: dbadmin, envoycp, pkg

Add org support
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/developer.go
  openapi/gatekeeper.yaml
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/cluster.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/developerapp.go
  pkg/db/cassandra/init.go
  pkg/db/cassandra/key.go
  pkg/db/cassandra/listener.go
  pkg/db/cassandra/organization.go
  pkg/db/cassandra/role.go
  pkg/db/cassandra/route.go
  pkg/db/cassandra/user.go
Due: dbadmin, pkg

Add attribute sort
  pkg/types/attribute.go
  pkg/types/cluster.go
  pkg/types/listener.go
  pkg/types/route.go
Due: pkg

Add check to match path and submitted name field
  cmd/dbadmin/handler/cluster.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/listener.go
  cmd/dbadmin/handler/route.go
Due: dbadmin
