Repository erikbos/gatekeeper: changes, and which Codecov flags are due for each by the changed paths.
All: dbadmin, envoyauth, envoycp, envoyals, pkg

.codecov.yml:

coverage:
  precision: 0
  status:
    patch: off
    project:
      default: off
      dbadmin:
        flags:
          - dbadmin
          - pkg
      envoyauth:
        flags:
          - envoyauth
          - pkg
      envoycp:
        flags:
          - emvoycp
          - pkg
      envoyals:
        flags:
          - emvoycp
          - pkg

flags:
  dbadmin:
    paths:
      - cmd/dbadmin/
  envoyauth:
    paths:
      - cmd/frontend/
  envoycp:
    paths:
      - cmd/envoycp/
  envoyals:
    paths:
      - cmd/envoyals/
  pkg:
    paths:
      - pkg/

check for duplicate vhosts
  pkg/types/listener.go
Due: pkg

Switch column to cassandra set & map types
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/cluster.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/developerapp.go
  pkg/db/cassandra/init.go
  pkg/db/cassandra/key.go
  pkg/db/cassandra/listener.go
  pkg/db/cassandra/main.go
  pkg/db/cassandra/metrics.go
  pkg/db/cassandra/misc.go
  pkg/db/cassandra/misc_test.go
  pkg/db/cassandra/oauth.go
  pkg/db/cassandra/organization.go
  pkg/db/cassandra/readiness.go
  pkg/db/cassandra/role.go
  pkg/db/cassandra/route.go
  pkg/db/cassandra/user.go
  pkg/types/developer.go
  pkg/types/key.go
  pkg/types/listener.go
Due: pkg

Consistent function prototypes
  cmd/dbadmin/handler/apiproduct.go
  cmd/dbadmin/handler/cluster.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/listener.go
  cmd/dbadmin/handler/organization.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/route.go
  cmd/dbadmin/handler/user.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/organization.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/route.go
  cmd/dbadmin/service/service.go
  cmd/dbadmin/service/user.go
Due: dbadmin

rename field allows to permissions
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/status/user.go
  cmd/dbadmin/service/changelog.go
  docs/api/examples/Example requests role.http
  docs/api/role.md
  openapi/gatekeeper.yaml
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/init.go
  pkg/db/cassandra/misc.go
  pkg/db/cassandra/oauth.go
  pkg/db/cassandra/role.go
  pkg/types/role.go
Due: dbadmin, pkg

Rename generated handler
  cmd/dbadmin/handler/handler.gen.go
  cmd/dbadmin/handler/handler.go
Due: dbadmin

Add endpoint to retrieve users assigned to role
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/service/service.go
  cmd/dbadmin/service/user.go
  openapi/gatekeeper.yaml
Due: dbadmin

Role update (#103)
  cmd/dbadmin/handler/handler.gen.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/status/user.go
  cmd/dbadmin/service/changelog.go
  cmd/dbadmin/service/service.go
  cmd/dbadmin/service/user.go
  docs/api/examples/Example requests role.http
  docs/api/role.md
  openapi/gatekeeper.yaml
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/init.go
  pkg/db/cassandra/misc.go
  pkg/db/cassandra/oauth.go
  pkg/db/cassandra/role.go
  pkg/types/role.go
Due: dbadmin, pkg

Rename changelog to audit
  cmd/dbadmin/config.go
  cmd/dbadmin/main.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/audit.go
  cmd/dbadmin/service/changelog.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/main.go
  cmd/dbadmin/service/organization.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/route.go
  cmd/dbadmin/service/user.go
Due: dbadmin

Rename statuspage
  cmd/dbadmin/handler/statuspage/apiproduct.go
  cmd/dbadmin/handler/statuspage/developer.go
  cmd/dbadmin/handler/statuspage/listener.go
  cmd/dbadmin/handler/statuspage/main.go
  cmd/dbadmin/handler/statuspage/user.go
Due: dbadmin

Move apidocs
  .gitignore
  cmd/dbadmin/handler/apidocs/index.htm
  cmd/dbadmin/handler/apidocs/redoc.standalone.js
Due: dbadmin

Add audit pkg
  cmd/dbadmin/handler/main.go
  pkg/audit/audit.go
  pkg/audit/audit_test.go
  pkg/db/cassandra/audit.go
  pkg/db/cassandra/main.go
  pkg/db/database.go
  pkg/types/audit.go
  pkg/types/type.go
Due: dbadmin, pkg

Rename status to statuspage
  cmd/dbadmin/handler/statuspage/apiproduct.go
  cmd/dbadmin/handler/statuspage/developer.go
  cmd/dbadmin/handler/statuspage/listener.go
  cmd/dbadmin/handler/statuspage/main.go
  cmd/dbadmin/handler/statuspage/user.go
Due: dbadmin

Use audit pkg
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/audit.go
  cmd/dbadmin/service/changelog_test.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/main.go
  cmd/dbadmin/service/organization.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/route.go
  cmd/dbadmin/service/service.go
  cmd/dbadmin/service/user.go
Due: dbadmin

Fix
  cmd/dbadmin/config.go
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/main.go
  cmd/dbadmin/handler/metrics.go
  cmd/dbadmin/main.go
  cmd/dbadmin/metrics/main.go
  cmd/dbadmin/metrics/metrics.go
Due: dbadmin

Add entrypoints to openapi spec
  openapi/gatekeeper.yaml
Due: none

Add audit REST handler
  cmd/dbadmin/config.go
  cmd/dbadmin/handler/audit.go
  cmd/dbadmin/handler/handler.gen.go
  cmd/dbadmin/handler/main.go
  cmd/dbadmin/main.go
  pkg/audit/audit.go
Due: dbadmin, pkg

openapi: add filter parameters
  openapi/gatekeeper.yaml
Due: none

Add create audit table
  pkg/db/cassandra/init.go
Due: pkg

Handling of endpoints
  cmd/dbadmin/handler/audit.go
  cmd/dbadmin/handler/handler.gen.go
  cmd/dbadmin/handler/listener.go
  cmd/dbadmin/service/audit.go
  cmd/dbadmin/service/service.go
  pkg/audit/audit.go
  pkg/db/cassandra/audit.go
  pkg/db/cassandra/misc.go
  pkg/db/database.go
  pkg/types/audit.go
Due: dbadmin, pkg

Fixes
  cmd/dbadmin/audit/audit.go
  cmd/dbadmin/audit/audit_test.go
  cmd/dbadmin/config.go
  cmd/dbadmin/handler/audit.go
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/handler.gen.go
  cmd/dbadmin/main.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/audit.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/main.go
  cmd/dbadmin/service/organization.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/route.go
  cmd/dbadmin/service/service.go
  cmd/dbadmin/service/user.go
  openapi/gatekeeper.yaml
  pkg/db/cassandra/audit.go
  pkg/db/cassandra/init.go
  pkg/db/cassandra/misc.go
  pkg/types/audit.go
Due: dbadmin, pkg

Add org, dev & app to each audit record
  cmd/dbadmin/audit/audit.go
  cmd/dbadmin/handler/audit.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/organization.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/route.go
  cmd/dbadmin/service/service.go
  cmd/dbadmin/service/user.go
Due: dbadmin

Fix audit paths
  cmd/dbadmin/handler/audit.go
  cmd/dbadmin/handler/handler.gen.go
  openapi/gatekeeper.yaml
Due: dbadmin

Use devID and AppID as query params
  cmd/dbadmin/handler/audit.go
  cmd/dbadmin/handler/handler.gen.go
  pkg/db/cassandra/audit.go
Due: dbadmin, pkg

Address lint warnings about variable naming
  cmd/dbadmin/handler/apiproduct.go
  cmd/dbadmin/handler/attribute.go
  cmd/dbadmin/handler/cluster.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/listener.go
  cmd/dbadmin/handler/organization.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/route.go
  cmd/dbadmin/handler/user.go
  pkg/db/cache/key.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/developerapp.go
  pkg/types/attribute.go
  pkg/types/developerapp.go
  pkg/types/organization.go
  pkg/types/role.go
Due: dbadmin, pkg

Metrics fixes
  cmd/envoyals/main.go
  cmd/envoyals/metrics/metrics.go
  cmd/envoyauth/main.go
  cmd/envoyauth/metrics/metrics.go
  cmd/envoycp/main.go
  cmd/envoycp/metrics/metrics.go
Due: envoycp, envoyals

add grpc health & reflection endpoint
  cmd/envoyals/acccesslog.go
  cmd/envoyauth/extauthz.go
  cmd/envoycp/xds.go
Due: envoycp, envoyals

Remove formatting of json response
  cmd/dbadmin/handler/apiproduct.go
  cmd/dbadmin/handler/attribute.go
  cmd/dbadmin/handler/cluster.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/listener.go
  cmd/dbadmin/handler/main.go
  cmd/dbadmin/handler/organization.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/route.go
  cmd/dbadmin/handler/user.go
  cmd/testbackend/main.go
  pkg/shared/readiness.go
  pkg/webadmin/webadmin.go
Due: dbadmin, pkg

Remove description from indexpage
  pkg/webadmin/webadmin.go
Due: pkg

Clean startup error
  cmd/envoyals/main.go
  cmd/envoyauth/main.go
  cmd/envoycp/main.go
Due: envoycp, envoyals

golint: skip oapi-codegen generated file
  .golangci.yml
Due: none

Remove liveness check
  cmd/dbadmin/main.go
  cmd/envoyals/main.go
  cmd/envoyauth/main.go
  cmd/envoycp/main.go
  pkg/db/cache/main.go
  pkg/db/cassandra/main.go
  pkg/db/cassandra/readiness.go
  pkg/db/database.go
  pkg/shared/readiness.go
  pkg/webadmin/webadmin.go
Due: dbadmin, envoycp, envoyals, pkg

Rename envoycp to controlplane
  cmd/controlplane/callback.go
  cmd/controlplane/cluster.go
  cmd/controlplane/cluster_test.go
  cmd/controlplane/common.go
  cmd/controlplane/common_test.go
  cmd/controlplane/config.go
  cmd/controlplane/listener.go
  cmd/controlplane/listener_test.go
  cmd/controlplane/logging.go
  cmd/controlplane/main.go
  cmd/controlplane/metrics/metrics.go
  cmd/controlplane/route.go
  cmd/controlplane/route_test.go
  cmd/controlplane/xds.go
Due: none

Rename envoycp to controlplane 2
  .codecov.yml
  .github/workflows/build.yml
  .github/workflows/main.yml
  Makefile
  build/Dockerfile.envoycp
  cmd/controlplane/callback.go
  cmd/controlplane/main.go
  deployment/docker/README.md
  deployment/docker/envoycp.yaml
  deployment/docker/envoyproxy.yaml
  deployment/docker/gatekeeper.yaml
  docs/README.md
  docs/api/cluster.md
  docs/api/listener.md
  docs/api/route.md
  docs/envoycp.md
Due: none

Rename envoycp to controlplane 3
  docs/controlplane.md
Due: none

Rename envoycp to controlplane 4
  cmd/controlplane/config.go
  cmd/controlplane/listener_test.go
  cmd/controlplane/main.go
  cmd/controlplane/metrics/metrics.go
  docs/README.md
  docs/api/cluster.md
  docs/api/listener.md
  docs/api/route.md
  docs/controlplane.md
Due: none

Update docs
  docs/README.md
  docs/managementserver.md
Due: none

Include app name in logging
  cmd/controlplane/main.go
  cmd/envoyals/main.go
  cmd/envoyauth/main.go
  cmd/envoyauth/oauth/oauth.go
  cmd/managementserver/audit/audit.go
  cmd/managementserver/handler/handler.gen.go
  cmd/managementserver/handler/main.go
  cmd/managementserver/main.go
  deployment/docker/dbadmin.yaml
  deployment/docker/envoycp.yaml
  pkg/shared/logging.go
  pkg/webadmin/webadmin.go
Due: envoyals, pkg
