Repository erikbos/gatekeeper: changes, and which Codecov flags are due for each by the changed paths.
All: dbadmin, envoyauth, envoycp

.codecov.yml:

# codecov:
#   require_ci_to_pass: true

coverage:
  status:
    project:
      default: off
      dbadmin:
        flags:
          - dbadmin
      envoyauth:
        flags:
          - envoyauth
      envoycp:
        flags:
          - emvoycp

flags:
  dbadmin:
    paths:
      - cmd/dbadmin/
  envoyauth:
    paths:
      - cmd/frontend/
  envoycp:
    paths:
      - cmd/envoycp/

envoycp: added ratelimiter & cors test filterchain
  cmd/envoycp/listener_test.go
Due: envoycp

Gh action update
  .github/workflows/build.yml
Due: none

Update codecov to include shared code
  .codecov.yml
  .github/workflows/build.yml
Due: none

Add generic database cache layer
  cmd/dbadmin/config.go
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/main.go
  cmd/envoycp/xds.go
  pkg/db/cache/apiproduct.go
  pkg/db/cache/cache.go
  pkg/db/cache/credential.go
  pkg/db/cache/developer.go
  pkg/db/cache/developerapp.go
  pkg/db/cache/main.go
  pkg/db/cache/metrics.go
  pkg/db/cache/oauth.go
  pkg/db/cache/role.go
  pkg/db/cache/user.go
  pkg/db/entitycache.go
  pkg/shared/readiness.go
Due: dbadmin, envoycp

Migrated auth & oauth to new cache
  cmd/dbadmin/main.go
  cmd/envoyauth/authorize.go
  cmd/envoyauth/cache.go
  cmd/envoyauth/config.go
  cmd/envoyauth/main.go
  cmd/envoyauth/oauth.go
  cmd/envoyauth/oauthclient.go
  cmd/envoyauth/oauthtokenstore.go
  cmd/envoyauth/product auth.go
Due: dbadmin

envoyauth: metrics cleanup
  cmd/envoyauth/cache.go
  cmd/envoyauth/config.go
  cmd/envoyauth/main.go
  cmd/envoyauth/metrics.go
  cmd/envoyauth/oauth/metrics.go
  cmd/envoyauth/oauth/oauth.go
  cmd/envoyauth/oauth/oauthclient.go
  cmd/envoyauth/oauth/oauthtokenstore.go
  cmd/envoyauth/policy.go
  cmd/envoyauth/product auth.go
  cmd/envoycp/config.go
  cmd/envoycp/main.go
  cmd/envoycp/metrics.go
Due: envoycp

envoycp: fix oauth metrics
  cmd/envoyauth/authorize.go
  cmd/envoyauth/main.go
  cmd/envoyauth/metrics.go
  cmd/envoyauth/oauth/metrics.go
  cmd/envoyauth/oauth/oauth.go
  cmd/envoyauth/oauth/oauthclient.go
  cmd/envoyauth/oauth/oauthtokenstore.go
  cmd/envoyauth/policy chain.go
  cmd/envoyauth/policy.go
  pkg/db/cache/oauth.go
  pkg/db/cassandra/oauth.go
  pkg/db/database.go
Due: none

Simplified setting of cachekey code
  pkg/db/cache/apiproduct.go
  pkg/db/cache/cache.go
  pkg/db/cache/credential.go
  pkg/db/cache/developer.go
  pkg/db/cache/developerapp.go
  pkg/db/cache/oauth.go
  pkg/db/cache/role.go
  pkg/db/cache/user.go
  pkg/db/type.go
Due: none

cache layer: improved naming & added comments
  pkg/db/cache/apiproduct.go
  pkg/db/cache/cache.go
  pkg/db/cache/credential.go
  pkg/db/cache/developer.go
  pkg/db/cache/developerapp.go
  pkg/db/cache/oauth.go
  pkg/db/cache/role.go
  pkg/db/cache/user.go
Due: none

Add generic database cache layer (#17)
  cmd/dbadmin/config.go
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/main.go
  cmd/envoyauth/authorize.go
  cmd/envoyauth/cache.go
  cmd/envoyauth/config.go
  cmd/envoyauth/main.go
  cmd/envoyauth/metrics.go
  cmd/envoyauth/oauth/metrics.go
  cmd/envoyauth/oauth/oauth.go
  cmd/envoyauth/oauth/oauthclient.go
  cmd/envoyauth/oauth/oauthtokenstore.go
  cmd/envoyauth/oauthclient.go
  cmd/envoyauth/policy chain.go
  cmd/envoyauth/policy.go
  cmd/envoyauth/product auth.go
  cmd/envoycp/config.go
  cmd/envoycp/main.go
  cmd/envoycp/metrics.go
  cmd/envoycp/xds.go
  pkg/db/cache/apiproduct.go
  pkg/db/cache/cache.go
  pkg/db/cache/credential.go
  pkg/db/cache/developer.go
  pkg/db/cache/developerapp.go
  pkg/db/cache/main.go
  pkg/db/cache/metrics.go
  pkg/db/cache/oauth.go
  pkg/db/cache/role.go
  pkg/db/cache/user.go
  pkg/db/cassandra/oauth.go
  pkg/db/database.go
  pkg/db/entitycache.go
  pkg/db/type.go
  pkg/shared/readiness.go
Due: dbadmin, envoycp

fix golint warnings
  .golangci.yml
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/main.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/organization.go
  cmd/dbadmin/service/route.go
  cmd/envoyauth/main.go
  cmd/envoyauth/oauth/oauth.go
  cmd/envoycp/main.go
  cmd/envoycp/route.go
  dbadmin-changelog.log
  docs/dbadmin.md
  docs/envoyauth.md
  docs/envoycp.md
  pkg/db/cache/cache.go
  pkg/db/entitycache.go
  pkg/shared/logging.go
  pkg/webadmin/webadmin.go
Due: dbadmin, envoycp

fix golint warnings (#20)
  .golangci.yml
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/main.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/organization.go
  cmd/dbadmin/service/route.go
  cmd/envoyauth/main.go
  cmd/envoyauth/oauth/oauth.go
  cmd/envoycp/main.go
  cmd/envoycp/route.go
  dbadmin-changelog.log
  docs/dbadmin.md
  docs/envoyauth.md
  docs/envoycp.md
  pkg/db/cache/cache.go
  pkg/db/entitycache.go
  pkg/shared/logging.go
  pkg/webadmin/webadmin.go
Due: dbadmin, envoycp

Switch dependabot schedule to weekly
  .github/dependabot.yml
  .gitignore
  dbadmin-changelog.log
Due: none

rename xds grpclisten to listen
  cmd/envoycp/config.go
  cmd/envoycp/xds.go
  deployment/docker/envoycp.yaml
  docs/envoycp.md
Due: envoycp

rename route attribute HeadersToAdd to RequestHeadersToAdd
  cmd/envoycp/route.go
  docs/api/examples/Example requests route.http
  docs/api/route.md
  pkg/types/route.go
Due: envoycp

Disable codecov patch coverage, for now
  .codecov.yml
Due: none

Disable patch coverage, check projects only (for now)
  .codecov.yml
Due: none

Rename envoycp config parameters for consistency (#21)
  cmd/envoycp/config.go
  cmd/envoycp/route.go
  cmd/envoycp/xds.go
  deployment/docker/envoycp.yaml
  docs/api/examples/Example requests route.http
  docs/api/route.md
  docs/envoycp.md
  pkg/types/route.go
Due: envoycp

envoyauth: remove bug register prometheus twice
  cmd/envoyauth/main.go
Due: none

bugfix: do not log /liveness or /readiness requests
  pkg/webadmin/webadmin.go
Due: none

Fix: in case of extauthz remove Authorization before forwarding
  cmd/envoycp/route.go
Due: envoycp

dbadmin: improve failure modes & error handling
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/credential.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/handler/user.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/credential.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/organization.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/route.go
  cmd/dbadmin/service/service.go
  cmd/dbadmin/service/user.go
  docs/api/examples/Example requests keys.http
  docs/api/examples/Example requests organization.http
  docs/api/examples/Example requests user.http
  pkg/db/cache/developerapp.go
  pkg/db/cassandra/init.go
  pkg/db/type.go
Due: dbadmin

dbadmin: improve failure modes & error handling (#22)
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/credential.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/handler/user.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/credential.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/organization.go
  cmd/dbadmin/service/role.go
  cmd/dbadmin/service/route.go
  cmd/dbadmin/service/service.go
  cmd/dbadmin/service/user.go
  docs/api/examples/Example requests keys.http
  docs/api/examples/Example requests organization.http
  docs/api/examples/Example requests user.http
  pkg/db/cache/developerapp.go
  pkg/db/cassandra/init.go
  pkg/db/type.go
Due: dbadmin

Fix typo api response of all users & all roles
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/user.go
Due: dbadmin

Add showcreatetables cmdline flag to list CQL statements
  cmd/dbadmin/main.go
  pkg/db/cassandra/init.go
Due: dbadmin

Fix configfile parse error msg
  cmd/envoyauth/main.go
  cmd/envoycp/main.go
Due: envoycp

Add prometheus metrics on api calls
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/metrics.go
Due: dbadmin

Re-enable apiproduct overview
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/service.go
Due: dbadmin

dbadmin: enable api authentication by default
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/main.go
Due: dbadmin

Log errors in accesslog
  pkg/webadmin/webadmin.go
Due: none

Improved error handling of templates
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/statuspage.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/developerapp.go
  pkg/webadmin/webadmin.go
Due: dbadmin

Handle response of storing errors ;-)
  cmd/dbadmin/handler/statuspage.go
  pkg/webadmin/webadmin.go
Due: dbadmin

Dbadmin: improve error handling (#23)
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/metrics.go
  cmd/dbadmin/handler/role.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/handler/user.go
  cmd/dbadmin/main.go
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/service.go
  cmd/envoyauth/main.go
  cmd/envoycp/main.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/developerapp.go
  pkg/db/cassandra/init.go
  pkg/webadmin/webadmin.go
Due: dbadmin, envoycp

Set ratelimiter (overide) using dynamicmetadata
  cmd/envoyauth/authorize.go
  cmd/envoyauth/policy.go
  cmd/envoycp/route.go
Due: envoycp

Set ratelimiter (overide) using dynamicmetadata (#24)
  cmd/envoyauth/authorize.go
  cmd/envoyauth/policy.go
  cmd/envoycp/route.go
Due: envoycp

improved naming consistency
  cmd/dbadmin/handler/metrics.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/main.go
  cmd/envoyauth/authorization.go
  cmd/envoyauth/extauthz.go
  cmd/envoyauth/main.go
  cmd/envoyauth/metrics.go
  cmd/envoyauth/policy chain.go
  cmd/envoyauth/policy.go
  cmd/envoycp/main.go
  cmd/envoycp/metrics.go
Due: dbadmin, envoycp

Clean up status setting of crendential
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/service/credential.go
  cmd/envoyauth/authorization.go
  pkg/types/credential.go
  pkg/types/role.go
Due: dbadmin

Misc naming fixes
  cmd/envoyauth/authorization.go
  cmd/envoyauth/extauthz.go
  cmd/envoyauth/metrics.go
  cmd/envoyauth/oauth/oauth.go
  cmd/envoyauth/oauth/oauthclient.go
  cmd/envoyauth/oauth/oauthtokenstore.go
  cmd/envoyauth/policy chain.go
  cmd/envoyauth/policy.go
  pkg/types/attribute.go
  pkg/types/credential.go
  pkg/types/developer.go
  pkg/types/oauth.go
Due: none
