Repository erikbos/gatekeeper: changes, and which Codecov flags are due for each by the changed paths.
All: managementserver, authserver, controlplane, accesslogserver, pkg

.codecov.yml:

coverage:
  precision: 0
  status:
    patch: false
    project:
      default: off
      managementserver:
        flags:
          - managementserver
          - pkg
      authserver:
        flags:
          - authserver
          - pkg
      controlplane:
        flags:
          - controlplane
          - pkg
      accesslogserver:
        flags:
          - accesslogserver
          - pkg

flags:
  managementserver:
    paths:
      - cmd/managementserver/
  authserver:
    paths:
      - cmd/frontend/
  controlplane:
    paths:
      - cmd/controlplane/
  accesslogserver:
    paths:
      - cmd/accesslogserver/
  pkg:
    paths:
      - pkg/

Add company entity support (#118)
  cmd/managementserver/audit/audit.go
  cmd/managementserver/handler/apidocs/gatekeeper.yaml
  cmd/managementserver/handler/company.go
  cmd/managementserver/handler/handler.gen.go
  cmd/managementserver/service/company.go
  cmd/managementserver/service/main.go
  cmd/managementserver/service/service.go
  go.sum
  openapi/gatekeeper.yaml
  pkg/db/cassandra/company.go
  pkg/db/cassandra/init.go
  pkg/db/cassandra/main.go
  pkg/db/database.go
  pkg/types/audit.go
  pkg/types/company.go
  pkg/types/type.go
  tests/dbadmin/company.py
  tests/dbadmin/schemas/companies.json
  tests/dbadmin/schemas/company-names.json
  tests/dbadmin/schemas/company.json
  tests/dbadmin/test_company.py
Due: managementserver, pkg

Use viper for YAML parsing
  .gitignore
  cmd/accesslogserver/acccesslog.go
  cmd/accesslogserver/config.go
  cmd/accesslogserver/main.go
  cmd/authserver/config.go
  cmd/authserver/extauthz.go
  cmd/authserver/main.go
  cmd/authserver/oauth/oauth.go
  cmd/authserver/policy/geoiplookup.go
  cmd/controlplane/config.go
  cmd/controlplane/listener_test.go
  cmd/controlplane/main.go
  cmd/managementserver/config.go
  cmd/managementserver/main.go
  go.mod
  go.sum
  pkg/config/config.go
  pkg/db/cache/main.go
  pkg/db/cassandra/init.go
  pkg/db/cassandra/main.go
  pkg/shared/logging.go
  pkg/webadmin/webadmin.go
Due: managementserver, controlplane, accesslogserver, pkg

align documentation and field naming
  deployment/docker/accesslogserver.yaml
  deployment/docker/authserver.yaml
  deployment/docker/controlplane.yaml
  deployment/docker/managementserver.yaml
  docs/README.md
  docs/accesslogserver.md
  docs/controlplane.md
  docs/envoyauth.md
  docs/managementserver.md
Due: none

Use viper for config file parsing (#120)
  .gitignore
  cmd/accesslogserver/acccesslog.go
  cmd/accesslogserver/config.go
  cmd/accesslogserver/main.go
  cmd/authserver/config.go
  cmd/authserver/extauthz.go
  cmd/authserver/main.go
  cmd/authserver/oauth/oauth.go
  cmd/authserver/policy/geoiplookup.go
  cmd/controlplane/config.go
  cmd/controlplane/listener_test.go
  cmd/controlplane/main.go
  cmd/managementserver/config.go
  cmd/managementserver/main.go
  deployment/docker/accesslogserver.yaml
  deployment/docker/authserver.yaml
  deployment/docker/controlplane.yaml
  deployment/docker/managementserver.yaml
  docs/README.md
  docs/accesslogserver.md
  docs/controlplane.md
  docs/envoyauth.md
  docs/managementserver.md
  go.mod
  go.sum
  pkg/config/config.go
  pkg/db/cache/main.go
  pkg/db/cassandra/init.go
  pkg/db/cassandra/main.go
  pkg/shared/logging.go
  pkg/webadmin/webadmin.go
Due: managementserver, controlplane, accesslogserver, pkg

rebase
  deployment/docker/authserver.yaml
  deployment/docker/controlplane.yaml
  deployment/docker/managementserver.yaml
Due: none

allow filtering
  cmd/managementserver/main.go
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/audit.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/init.go
  pkg/db/cassandra/main.go
Due: managementserver, pkg

add required fields
  build/Dockerfile.baseimage
  deployment/docker/accesslogserver.yaml
Due: none

allow filtering now is a part of a string
  deployment/docker/authserver.yaml
  deployment/docker/controlplane.yaml
  deployment/docker/managementserver.yaml
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/audit.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/main.go
Due: pkg

Allow filtering for requests (#122)
  build/Dockerfile.baseimage
  cmd/managementserver/main.go
  deployment/docker/accesslogserver.yaml
  deployment/docker/authserver.yaml
  deployment/docker/controlplane.yaml
  deployment/docker/managementserver.yaml
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/audit.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/init.go
Due: managementserver, pkg

use minikube for deployment
  .gitignore
  Makefile
  build/Dockerfile.managementserver
  deployment/docker/managementserver.yaml
  helm/.helmignore
  helm/Chart.lock
  helm/Chart.yaml
  helm/charts/.gitignore
  helm/templates/_helpers.tpl
  helm/templates/accesslogserver/configmap.yaml
  helm/templates/accesslogserver/deployment.yml
  helm/templates/accesslogserver/service.yaml
  helm/templates/authserver/deployment.yml
  helm/templates/authserver/secrets.yaml
  helm/templates/authserver/service.yaml
  helm/templates/controlplane/deployment.yml
  helm/templates/controlplane/secrets.yaml
  helm/templates/controlplane/service.yaml
  helm/templates/envoyproxy/deployment.yml
  helm/templates/envoyproxy/secrets.yaml
  helm/templates/envoyproxy/service.yaml
  helm/templates/managementserver/deployment.yml
  helm/templates/managementserver/secrets.yaml
  helm/templates/managementserver/service.yaml
  helm/templates/ratelimiter/configmap.yaml
  helm/templates/ratelimiter/deployment.yaml
  helm/templates/ratelimiter/service.yaml
  helm/templates/tests/e2e.yaml
  helm/values.yaml
  tests/dbadmin/Dockerfile
  tests/dbadmin/requirements.txt
Due: none

Use minikube for e2e testing (#123)
  .gitignore
  Makefile
  build/Dockerfile.managementserver
  deployment/docker/managementserver.yaml
  helm/.helmignore
  helm/Chart.lock
  helm/Chart.yaml
  helm/charts/.gitignore
  helm/templates/_helpers.tpl
  helm/templates/accesslogserver/configmap.yaml
  helm/templates/accesslogserver/deployment.yml
  helm/templates/accesslogserver/service.yaml
  helm/templates/authserver/deployment.yml
  helm/templates/authserver/secrets.yaml
  helm/templates/authserver/service.yaml
  helm/templates/controlplane/deployment.yml
  helm/templates/controlplane/secrets.yaml
  helm/templates/controlplane/service.yaml
  helm/templates/envoyproxy/deployment.yml
  helm/templates/envoyproxy/secrets.yaml
  helm/templates/envoyproxy/service.yaml
  helm/templates/managementserver/deployment.yml
  helm/templates/managementserver/secrets.yaml
  helm/templates/managementserver/service.yaml
  helm/templates/ratelimiter/configmap.yaml
  helm/templates/ratelimiter/deployment.yaml
  helm/templates/ratelimiter/service.yaml
  helm/templates/tests/e2e.yaml
  helm/values.yaml
  tests/dbadmin/Dockerfile
  tests/dbadmin/requirements.txt
Due: none

Update schema
  pkg/db/cassandra/init.go
Due: pkg

Set primary based on org & apiproduct
  pkg/db/cassandra/apiproduct.go
Due: pkg

Rename primarykey generate functions
  pkg/db/cassandra/company.go
  pkg/db/cassandra/developer.go
Due: pkg

Fix doc
  docs/api/examples/Example requests apiproduct.http
Due: none

Make apiproducts specific to organizations (#124)
  docs/api/examples/Example requests apiproduct.http
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/company.go
  pkg/db/cassandra/developer.go
  pkg/db/cassandra/init.go
Due: pkg

fix build
  .github/workflows/build.yml
Due: none

fix build (#125)
  .github/workflows/build.yml
Due: none

Update call back function signature
  cmd/controlplane/callback.go
Due: controlplane

Update Snapshot creation
  cmd/controlplane/xds.go
  go.mod
  go.sum
Due: controlplane

Upgrade packages (#126)
  cmd/controlplane/callback.go
  cmd/controlplane/xds.go
  go.mod
  go.sum
Due: controlplane

Add test functions which compare protobuf encoded values
  cmd/controlplane/common_test.go
Due: controlplane

Use new value compare functions in tests
  cmd/controlplane/cluster_test.go
  cmd/controlplane/listener_test.go
  cmd/controlplane/route_test.go
Due: controlplane

Fix spurious test failures in tests of functions that encode protobuf (#127)
  cmd/controlplane/cluster_test.go
  cmd/controlplane/common_test.go
  cmd/controlplane/listener_test.go
  cmd/controlplane/route_test.go
Due: controlplane

e2e test by github actions
  .dockerignore
  .github/workflows/e2e.yaml
  Makefile
  helm/templates/authserver/service.yaml
  helm/templates/controlplane/service.yaml
  helm/templates/envoyproxy/service.yaml
  helm/templates/managementserver/service.yaml
  helm/templates/ratelimiter/service.yaml
  helm/values.yaml
Due: none

reduce cores
  .github/workflows/e2e.yaml
Due: none

add helm + id
  .github/workflows/e2e.yaml
  Makefile
Due: none

Sort maps to ensure order of keys
  cmd/controlplane/route_test.go
Due: controlplane

Sort maps to ensure order of keys (#132)
  cmd/controlplane/route_test.go
Due: controlplane

e2e test by github actions (#128)
  .dockerignore
  .github/workflows/e2e.yaml
  Makefile
  helm/templates/authserver/service.yaml
  helm/templates/controlplane/service.yaml
  helm/templates/envoyproxy/service.yaml
  helm/templates/managementserver/service.yaml
  helm/templates/ratelimiter/service.yaml
  helm/values.yaml
Due: none

Add label to link to src repo
  build/Dockerfile.accesslogserver
  build/Dockerfile.authserver
  build/Dockerfile.controlplane
  build/Dockerfile.managementserver
  build/Dockerfile.testbackend
Due: none

Push to ghcr
  .github/workflows/build.yml
Due: none

Publish images on github container registry (#135)
  .github/workflows/build.yml
  build/Dockerfile.accesslogserver
  build/Dockerfile.authserver
  build/Dockerfile.controlplane
  build/Dockerfile.managementserver
  build/Dockerfile.testbackend
Due: none

Add config option to set organization
  cmd/authserver/config.go
Due: none

Update doc for org config option
  docs/api/listener.md
  docs/envoyauth.md
Due: none

Tidy up vhost -> listener mapping code
  cmd/authserver/virtualhost.go
Due: none

Allow org as listener attribute
  pkg/types/listener.go
Due: pkg

Move getrequestDetails to request pkg
  cmd/authserver/extauthz.go
  cmd/authserver/main.go
  cmd/authserver/metrics/metrics.go
  cmd/authserver/policy/authorization.go
  cmd/authserver/policy/policy chain.go
  cmd/authserver/policy/policy.go
  cmd/authserver/request/request.go
Due: none

authserver: add config flag to set organization per vhost (#141)
  cmd/authserver/config.go
  cmd/authserver/extauthz.go
  cmd/authserver/main.go
  cmd/authserver/metrics/metrics.go
  cmd/authserver/policy/authorization.go
  cmd/authserver/policy/policy chain.go
  cmd/authserver/policy/policy.go
  cmd/authserver/request/request.go
  cmd/authserver/virtualhost.go
  docs/api/listener.md
  docs/envoyauth.md
  pkg/types/listener.go
Due: pkg

Add azure & helm howto
  deployment/docker/README.md
Due: none
