Repository erikbos/gatekeeper: changes, and which Codecov flags are due for each by the changed paths.
All: dbadmin, envoyauth, envoycp, envoyals, pkg

.codecov.yml:

coverage:
  precision: 0
  status:
    patch: off
    project:
      default: off
      dbadmin:
        flags:
          - dbadmin
          - pkg
      envoyauth:
        flags:
          - envoyauth
          - pkg
      envoycp:
        flags:
          - emvoycp
          - pkg
      envoyals:
        flags:
          - emvoycp
          - pkg

flags:
  dbadmin:
    paths:
      - cmd/dbadmin/
  envoyauth:
    paths:
      - cmd/frontend/
  envoycp:
    paths:
      - cmd/envoycp/
  envoyals:
    paths:
      - cmd/envoyals/
  pkg:
    paths:
      - pkg/

fix: when creating developer add developerid
  cmd/dbadmin/service/developer.go
Due: dbadmin

fix: return apps of developer
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/service.go
  pkg/db/cache/developerapp.go
  pkg/db/cassandra/developerapp.go
  pkg/db/database.go
Due: dbadmin, pkg

Fix api endpoints (#74)
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/service.go
  pkg/db/cache/developerapp.go
  pkg/db/cassandra/developerapp.go
  pkg/db/database.go
Due: dbadmin, pkg

Add codecov badge
  README.md
Due: none

First tests
  pkg/types/attribute.go
  pkg/types/attribute_test.go
Due: pkg

Upload coverage per project
  .github/workflows/main.yml
Due: none

Fix reporting per project typo
  .codecov.yml
Due: none

Upload coverage per subproject (#76)
  .codecov.yml
  .github/workflows/main.yml
Due: none

More tests
  pkg/types/attribute.go
  pkg/types/attribute_test.go
Due: pkg

Check return values
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/route.go
  pkg/types/attribute.go
  pkg/types/attribute_test.go
Due: dbadmin, pkg

All tests for attributes
  pkg/types/attribute_test.go
Due: pkg

Deduped checking for unknown attributes
  cmd/envoycp/cluster.go
  cmd/envoycp/listener.go
  cmd/envoycp/route.go
  pkg/types/cluster.go
  pkg/types/listener.go
  pkg/types/misc.go
  pkg/types/route.go
Due: envoycp, pkg

Revert "Deduped checking for unknown attributes"
  cmd/envoycp/cluster.go
  cmd/envoycp/listener.go
  cmd/envoycp/route.go
  pkg/types/cluster.go
  pkg/types/listener.go
  pkg/types/misc.go
  pkg/types/route.go
Due: envoycp, pkg

Fix: check setting attributes for error
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/route.go
Due: dbadmin

Add tests for type Attribute
  pkg/types/attribute.go
  pkg/types/attribute_test.go
Due: pkg

Add tests for type Attribute (#77)
  cmd/dbadmin/service/apiproduct.go
  cmd/dbadmin/service/cluster.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/listener.go
  cmd/dbadmin/service/route.go
  pkg/types/attribute.go
  pkg/types/attribute_test.go
Due: dbadmin, pkg

Add support for certifcate loading from file
  cmd/envoycp/common.go
  cmd/envoycp/common_test.go
  pkg/types/listener.go
Due: envoycp, pkg

Remove debug logging
  cmd/envoycp/common_test.go
Due: envoycp

Add support for certificate loading from file (#78)
  cmd/envoycp/common.go
  cmd/envoycp/common_test.go
  pkg/types/listener.go
Due: envoycp, pkg

Remove pinned version Action Golang CI
  .github/workflows/main.yml
Due: none

Remove pinned version Action Golang CI (2)
  .github/workflows/build.yml
Due: none

CI test
  cmd/dbadmin/main.go
Due: dbadmin

Test 2
  cmd/dbadmin/main.go
Due: dbadmin

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Disable logging of password field
  cmd/dbadmin/service/changelog.go
Due: dbadmin

Check validity of http status code of retry policy
  cmd/envoycp/route.go
Due: envoycp

Check validity of redirect port
  cmd/envoycp/route.go
Due: envoycp

Check validity of weighted cluster weights
  cmd/envoycp/route.go
Due: envoycp

Log in case of unsupported weighted cluster weight value
  cmd/envoycp/route.go
Due: envoycp

Address codeql warnings (#87)
  cmd/dbadmin/service/changelog.go
  cmd/envoycp/route.go
Due: dbadmin, envoycp

Improve not logging of sensitive data
  cmd/dbadmin/service/changelog.go
Due: dbadmin

fix
  cmd/dbadmin/service/changelog_test.go
Due: dbadmin

Add tests
  cmd/dbadmin/service/changelog_test.go
Due: dbadmin

Improve not logging of sensitive data (#91)
  cmd/dbadmin/service/changelog.go
  cmd/dbadmin/service/changelog_test.go
Due: dbadmin

Add delta XDS functions
  cmd/envoycp/callback.go
Due: envoycp
