Repository erikbos/gatekeeper: changes, and which Codecov flags are due for each by the changed paths.
All: dbadmin, envoyauth, envoycp, envoyals, pkg

.codecov.yml:

coverage:
  precision: 0
  status:
    patch: off
    project:
      default: off
      dbadmin:
        flags:
          - dbadmin
          - pkg
      envoyauth:
        flags:
          - envoyauth
          - pkg
      envoycp:
        flags:
          - emvoycp
          - pkg
      envoyals:
        flags:
          - emvoycp
          - pkg

flags:
  dbadmin:
    paths:
      - cmd/dbadmin/
  envoyauth:
    paths:
      - cmd/frontend/
  envoycp:
    paths:
      - cmd/envoycp/
  envoyals:
    paths:
      - cmd/envoyals/
  pkg:
    paths:
      - pkg/

Add delta XDS functions (#92)
  cmd/envoycp/callback.go
Due: envoycp

Add response schemas
  tests/dbadmin/schemas/attribute.json
  tests/dbadmin/schemas/attributes.json
  tests/dbadmin/schemas/developer.json
  tests/dbadmin/schemas/developers.json
Due: none

Add more response schemas
  tests/dbadmin/schemas/developers-email-addresses.json
  tests/dbadmin/schemas/error.json
Due: none

First version of tests for dev CRUD
  tests/dbadmin/common.py
  tests/dbadmin/test_attribute.py
  tests/dbadmin/test_developer.py
Due: none

Update .gitignore for python
  .gitignore
Due: none

Add readme
  tests/dbadmin/README.md
Due: none

Moved attribute endpoint to class
  tests/dbadmin/attribute.py
  tests/dbadmin/common.py
  tests/dbadmin/test_attribute.py
  tests/dbadmin/test_developer.py
Due: none

Move most tests to classes
  tests/dbadmin/attribute.py
  tests/dbadmin/common.py
  tests/dbadmin/httperror.py
  tests/dbadmin/test_developer.py
Due: none

Add tests for developer endpoint (#95)
  .gitignore
  tests/dbadmin/README.md
  tests/dbadmin/attribute.py
  tests/dbadmin/common.py
  tests/dbadmin/httperror.py
  tests/dbadmin/schemas/attribute.json
  tests/dbadmin/schemas/attributes.json
  tests/dbadmin/schemas/developer.json
  tests/dbadmin/schemas/developers-email-addresses.json
  tests/dbadmin/schemas/developers.json
  tests/dbadmin/schemas/error.json
  tests/dbadmin/test_developer.py
Due: none

Relayout
  tests/dbadmin/attribute.py
  tests/dbadmin/common.py
  tests/dbadmin/developer.py
  tests/dbadmin/httpstatus.py
  tests/dbadmin/test_suite.py
Due: none

Optimize schema handling, load once
  tests/dbadmin/attribute.py
  tests/dbadmin/common.py
  tests/dbadmin/developer.py
  tests/dbadmin/test_suite.py
Due: none

Remove import *
  tests/dbadmin/attribute.py
  tests/dbadmin/developer.py
  tests/dbadmin/test_suite.py
Due: none

Implement re-use connections
  tests/dbadmin/attribute.py
  tests/dbadmin/common.py
  tests/dbadmin/developer.py
  tests/dbadmin/httpstatus.py
  tests/dbadmin/test_suite.py
Due: none

Added app & credential schema
  tests/dbadmin/schemas/application.json
  tests/dbadmin/schemas/applications-global-list.json
  tests/dbadmin/schemas/applications.json
  tests/dbadmin/schemas/attribute.json
  tests/dbadmin/schemas/attributes.json
  tests/dbadmin/schemas/credential.json
  tests/dbadmin/schemas/developer.json
  tests/dbadmin/schemas/developers.json
Due: none

Improve schema handling
  tests/dbadmin/attribute.py
  tests/dbadmin/developer.py
  tests/dbadmin/schemas/applications-all-ids.json
  tests/dbadmin/schemas/developers-email-addresses.json
  tests/dbadmin/test_suite.py
Due: none

Address pylint warnings
  tests/dbadmin/application.py
  tests/dbadmin/attribute.py
  tests/dbadmin/developer.py
  tests/dbadmin/httpstatus.py
  tests/dbadmin/test_suite.py
Due: none

More coverage for applications
  tests/dbadmin/application.py
  tests/dbadmin/common.py
  tests/dbadmin/developer.py
  tests/dbadmin/schemas/applications-global-list.json
  tests/dbadmin/test_suite.py
Due: none

More tests :)
  tests/dbadmin/application.py
  tests/dbadmin/developer.py
  tests/dbadmin/test_suite.py
Due: none

add key schema
  tests/dbadmin/schemas/key.json
Due: none

Remove unused consts
  tests/dbadmin/common.py
Due: none

Rename app schema
  tests/dbadmin/schemas/applications-uuid.json
Due: none

Schema: fixes & add apiproducts
  tests/dbadmin/schemas/apiproduct.json
  tests/dbadmin/schemas/apiproducts.json
  tests/dbadmin/schemas/application.json
  tests/dbadmin/schemas/key.json
Due: none

Add apiproduct class
  tests/dbadmin/apiproduct.py
  tests/dbadmin/schemas/api-product.json
  tests/dbadmin/schemas/api-products.json
Due: none

Schema updates
  tests/dbadmin/schemas/apiproduct.json
  tests/dbadmin/schemas/apiproducts.json
Due: none

Split tests into multiple files
  tests/dbadmin/README.md
  tests/dbadmin/apiproduct.py
  tests/dbadmin/application.py
  tests/dbadmin/common.py
  tests/dbadmin/developer.py
  tests/dbadmin/key.py
  tests/dbadmin/schemas/api-product.json
  tests/dbadmin/schemas/api-products-names.json
  tests/dbadmin/schemas/api-products.json
  tests/dbadmin/schemas/applications-uuids.json
  tests/dbadmin/schemas/key.json
  tests/dbadmin/test_apiproduct.py
  tests/dbadmin/test_developer.py
  tests/dbadmin/test_developerapp.py
  tests/dbadmin/test_key.py
Due: none

Simplify create()s
  tests/dbadmin/application.py
  tests/dbadmin/developer.py
  tests/dbadmin/test_developer.py
  tests/dbadmin/test_developerapp.py
  tests/dbadmin/test_key.py
Due: none

More key tests
  tests/dbadmin/apiproduct.py
  tests/dbadmin/attribute.py
  tests/dbadmin/developer.py
  tests/dbadmin/developerapp.py
  tests/dbadmin/key.py
  tests/dbadmin/test_apiproduct.py
  tests/dbadmin/test_developer.py
  tests/dbadmin/test_developerapp.py
  tests/dbadmin/test_key.py
Due: none

More key tests
  tests/dbadmin/key.py
  tests/dbadmin/test_key.py
Due: none

Add devapp status test
  tests/dbadmin/apiproduct.py
  tests/dbadmin/attribute.py
  tests/dbadmin/common.py
  tests/dbadmin/developer.py
  tests/dbadmin/developerapp.py
  tests/dbadmin/key.py
  tests/dbadmin/test_developer.py
  tests/dbadmin/test_developerapp.py
  tests/dbadmin/test_key.py
Due: none

More key tests
  tests/dbadmin/apiproduct.py
  tests/dbadmin/developer.py
  tests/dbadmin/developerapp.py
  tests/dbadmin/key.py
  tests/dbadmin/test_developer.py
  tests/dbadmin/test_key.py
Due: none

dbadmin: more tests (#96)
  tests/dbadmin/README.md
  tests/dbadmin/apiproduct.py
  tests/dbadmin/attribute.py
  tests/dbadmin/common.py
  tests/dbadmin/developer.py
  tests/dbadmin/developerapp.py
  tests/dbadmin/httpstatus.py
  tests/dbadmin/key.py
  tests/dbadmin/schemas/api-product.json
  tests/dbadmin/schemas/api-products-names.json
  tests/dbadmin/schemas/api-products.json
  tests/dbadmin/schemas/application.json
  tests/dbadmin/schemas/applications-uuids.json
  tests/dbadmin/schemas/applications.json
  tests/dbadmin/schemas/attribute.json
  tests/dbadmin/schemas/credential.json
  tests/dbadmin/schemas/developer.json
  tests/dbadmin/schemas/developers-email-addresses.json
  tests/dbadmin/schemas/developers.json
  tests/dbadmin/schemas/key.json
  tests/dbadmin/test_apiproduct.py
  tests/dbadmin/test_developer.py
  tests/dbadmin/test_developerapp.py
  tests/dbadmin/test_key.py
Due: none

Update redoc from v53 to v57
  cmd/dbadmin/apidocs/redoc.standalone.js
  cmd/dbadmin/apidocs/redoc.standalone.js.old
Due: dbadmin

Move openapi spec to /openapi/folder
  .gitignore
  cmd/dbadmin/main.go
  openapi/gatekeeper.yaml
Due: dbadmin

Put openapi3 spec in /openapi (#97)
  .gitignore
  cmd/dbadmin/apidocs/redoc.standalone.js
  cmd/dbadmin/apidocs/redoc.standalone.js.old
  cmd/dbadmin/main.go
  openapi/gatekeeper.yaml
Due: dbadmin

Added openapi spec for developer
  cmd/dbadmin/apidocs/gatekeeper.yaml
  openapi/gatekeeper.yaml
Due: dbadmin

Remove suspendedTill
  cmd/dbadmin/handler/developer.go
  pkg/db/cassandra/developer.go
  pkg/types/developer.go
Due: dbadmin, pkg

developer: use openapi spec to test request & response
  cmd/envoyauth/policy/authorization.go
  tests/dbadmin/common.py
  tests/dbadmin/test_developer.py
Due: none

Move developer over to openapi generated code
  cmd/dbadmin/config.go
  cmd/dbadmin/handler/apiproduct.go
  cmd/dbadmin/handler/attribute.go
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/dbadmin.gen.go
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/developerapp.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/main.go
  cmd/dbadmin/service/developer.go
  cmd/dbadmin/service/service.go
  go.mod
  go.sum
  openapi/gatekeeper.yaml
  pkg/db/cassandra/developer.go
  pkg/types/attribute.go
  pkg/types/developer.go
  tests/dbadmin/attribute.py
  tests/dbadmin/developer.py
  tests/dbadmin/schemas/developer.json
  tests/dbadmin/schemas/error.json
  tests/dbadmin/test_developer.py
Due: dbadmin, pkg

moved metrics to own file
  cmd/dbadmin/handler/developer.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/metrics.go
Due: dbadmin

fix changelog bug
  cmd/dbadmin/service/developerapp.go
Due: dbadmin
