Repository erikbos/gatekeeper: changes, and which Codecov flags are due for each by the changed paths.
All: dbadmin, envoyauth, envoycp, pkg

Prepare for package move
  cmd/envoyauth/authorization.go
Due: none

Refactor code into packages
  cmd/envoyauth/config.go
  cmd/envoyauth/extauthz.go
  cmd/envoyauth/main.go
  cmd/envoyauth/metrics.go
  cmd/envoyauth/metrics/metrics.go
  cmd/envoyauth/oauth/metrics.go
  cmd/envoyauth/oauth/oauth.go
  cmd/envoyauth/oauth/oauthclient.go
  cmd/envoyauth/oauth/oauthtokenstore.go
  cmd/envoyauth/policy chain.go
  cmd/envoyauth/policy/authorization.go
  cmd/envoyauth/policy/geoiplookup.go
  cmd/envoyauth/policy/geoiplookup_test.go
  cmd/envoyauth/policy/policy chain.go
  cmd/envoyauth/policy/policy.go
  cmd/envoyauth/request/request.go
  cmd/envoyauth/virtualhost.go
Due: none

Enable default entity cache of 100mb
  cmd/envoyauth/config.go
Due: none

Name policy metrics consistent
  cmd/envoyauth/metrics/metrics.go
  cmd/envoyauth/policy/policy chain.go
Due: none

Fix: do not crash when no policy is evaluated
  cmd/envoyauth/extauthz.go
Due: none

Fix: handle unset timestamp gracefully
  pkg/shared/misc.go
Due: pkg

Envoyauth cleanup (#28)
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/metrics.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/main.go
  cmd/dbadmin/service/credential.go
  cmd/envoyauth/config.go
  cmd/envoyauth/extauthz.go
  cmd/envoyauth/main.go
  cmd/envoyauth/metrics.go
  cmd/envoyauth/metrics/metrics.go
  cmd/envoyauth/oauth/metrics.go
  cmd/envoyauth/oauth/oauth.go
  cmd/envoyauth/oauth/oauthclient.go
  cmd/envoyauth/oauth/oauthtokenstore.go
  cmd/envoyauth/policy chain.go
  cmd/envoyauth/policy/authorization.go
  cmd/envoyauth/policy/geoiplookup.go
  cmd/envoyauth/policy/geoiplookup_test.go
  cmd/envoyauth/policy/policy chain.go
  cmd/envoyauth/policy/policy.go
  cmd/envoyauth/product auth.go
  cmd/envoyauth/request/request.go
  cmd/envoyauth/virtualhost.go
  cmd/envoycp/main.go
  cmd/envoycp/metrics.go
  pkg/shared/misc.go
  pkg/types/attribute.go
  pkg/types/credential.go
  pkg/types/developer.go
  pkg/types/oauth.go
  pkg/types/role.go
Due: dbadmin, envoycp, pkg

oauth: change tokeninfo response format to rfc7662
  cmd/envoyauth/oauth/oauth.go
Due: none

dbadmin: add developer overview page
  cmd/dbadmin/handler/statuspage.go
  cmd/envoyauth/extauthz.go
Due: dbadmin

Add lua scripting
  cmd/envoycp/listener.go
  cmd/envoycp/route.go
  pkg/types/route.go
Due: envoycp, pkg

Fix GH action to use new env approach
  .github/workflows/build.yml
Due: none

Initial version of access log server
  cmd/envoyals/acccesslog.go
  cmd/envoyals/config.go
  cmd/envoyals/main.go
  cmd/envoyals/metrics/metrics.go
Due: none

Add Dockerfile & update Makefile
  Makefile
  build/Dockerfile envoyals
Due: none

Add configfile
  deployment/docker/envoyals.yaml
Due: none

Add logging of metadata
  cmd/envoyals/acccesslog.go
Due: none

Log node details
  cmd/envoyals/acccesslog.go
Due: none

Add docs
  docs/README.md
  docs/envoyals.md
  docs/envoycp.md
Due: none

Add config for docker compose
  deployment/docker/envoyproxy.yaml
  deployment/docker/gatekeeper.yaml
Due: none

Tidy up
  cmd/envoyals/acccesslog.go
Due: none

Add max stream session timer
  cmd/envoyals/acccesslog.go
Due: none

Add stream duration default
  cmd/envoyals/acccesslog.go
  cmd/envoyals/config.go
  cmd/envoyals/main.go
Due: none

Add envoyals as package in codecov
  .codecov.yml
Due: none

Add accesslog server (#35)
  .codecov.yml
  Makefile
  build/Dockerfile envoyals
  cmd/envoyals/acccesslog.go
  cmd/envoyals/config.go
  cmd/envoyals/main.go
  cmd/envoyals/metrics/metrics.go
  deployment/docker/envoyals.yaml
  deployment/docker/envoyproxy.yaml
  deployment/docker/gatekeeper.yaml
  docs/README.md
  docs/envoyals.md
  docs/envoycp.md
Due: none

Consistent naming of keys
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/service/credential.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/main.go
  cmd/dbadmin/service/service.go
  cmd/envoyals/metrics/metrics.go
  cmd/envoyauth/config.go
  cmd/envoyauth/main.go
  cmd/envoyauth/metrics/metrics.go
  cmd/envoyauth/oauth/oauth.go
  cmd/envoyauth/oauth/oauthclient.go
  cmd/envoyauth/policy/authorization.go
  cmd/envoyauth/request/request.go
  cmd/envoycp/xds.go
  docs/api/examples/Example requests keys.http
  pkg/db/cache/credential.go
  pkg/db/cache/key.go
  pkg/db/cache/main.go
  pkg/db/cassandra/credential.go
  pkg/db/cassandra/developerapp.go
  pkg/db/cassandra/init.go
  pkg/db/cassandra/key.go
  pkg/db/cassandra/main.go
  pkg/db/database.go
  pkg/types/key.go
  pkg/types/type.go
  pkg/webadmin/webadmin.go
Due: dbadmin, envoycp, pkg

Consistent naming of keys (#38)
  cmd/dbadmin/handler/auth.go
  cmd/dbadmin/handler/handler.go
  cmd/dbadmin/handler/key.go
  cmd/dbadmin/handler/statuspage.go
  cmd/dbadmin/service/credential.go
  cmd/dbadmin/service/developerapp.go
  cmd/dbadmin/service/key.go
  cmd/dbadmin/service/main.go
  cmd/dbadmin/service/service.go
  cmd/envoyals/metrics/metrics.go
  cmd/envoyauth/config.go
  cmd/envoyauth/main.go
  cmd/envoyauth/metrics/metrics.go
  cmd/envoyauth/oauth/oauth.go
  cmd/envoyauth/oauth/oauthclient.go
  cmd/envoyauth/policy/authorization.go
  cmd/envoyauth/request/request.go
  cmd/envoycp/xds.go
  docs/api/examples/Example requests keys.http
  pkg/db/cache/credential.go
  pkg/db/cache/key.go
  pkg/db/cache/main.go
  pkg/db/cassandra/credential.go
  pkg/db/cassandra/developerapp.go
  pkg/db/cassandra/init.go
  pkg/db/cassandra/key.go
  pkg/db/cassandra/main.go
  pkg/db/database.go
  pkg/types/key.go
  pkg/types/type.go
  pkg/webadmin/webadmin.go
Due: dbadmin, envoycp, pkg

Add golint skip for cluster.Http2ProtocolOptions
  cmd/envoycp/cluster.go
Due: envoycp

envoyauth: remove legacy way of metadata
  cmd/envoyauth/extauthz.go
Due: none

envoycp: fix typo in prom metrics description
  cmd/envoycp/metrics.go
Due: envoycp

Update go.sum
  go.sum
Due: none

Remove usage of deprecated proto functions
  cmd/envoyals/acccesslog.go
  cmd/envoycp/cluster.go
  cmd/envoycp/cluster_test.go
  cmd/envoycp/common.go
  cmd/envoycp/common_test.go
  cmd/envoycp/listener.go
  cmd/envoycp/listener_test.go
  cmd/envoycp/route.go
Due: envoycp

Remove usage of deprecated proto functions (#53)
  cmd/envoyals/acccesslog.go
  cmd/envoycp/cluster.go
  cmd/envoycp/cluster_test.go
  cmd/envoycp/common.go
  cmd/envoycp/common_test.go
  cmd/envoycp/listener.go
  cmd/envoycp/listener_test.go
  cmd/envoycp/route.go
Due: envoycp

Add envoyals to docker build & Github Action deploy
  .github/workflows/build.yml
  Makefile
Due: none

Example config: switch to envoy 1.17
  deployment/docker/gatekeeper.yaml
Due: none

envoycp: remove non-working ratelimiter config
  cmd/envoycp/route.go
Due: envoycp

Add envoyals to GitHub actions deployment (#55)
  .github/workflows/build.yml
  Makefile
  cmd/envoycp/route.go
  deployment/docker/gatekeeper.yaml
Due: envoycp

envoyals: fix typo in Docker filename
  build/Dockerfile.envoyals
Due: none

envoyauth: add grpc healthcheck endpoint
  cmd/envoyauth/extauthz.go
Due: none

Fix typo in container tag when pushing image
  .github/workflows/build.yml
Due: none

github action: run on changes to main instead of master
  .github/workflows/build.yml
Due: none

Add attribute to set http filters
  cmd/envoycp/listener.go
  cmd/envoycp/listener_test.go
  cmd/envoycp/route.go
  deployment/docker/envoycp.yaml
  docs/api/listener.md
  docs/api/route.md
  docs/envoyauth.md
  pkg/types/attribute.go
  pkg/types/cluster.go
  pkg/types/error.go
  pkg/types/listener.go
  pkg/types/route.go
Due: envoycp, pkg

Path conditions:
  dbadmin: any of: cmd/dbadmin/
  envoyauth: any of: cmd/frontend/
  envoycp: any of: cmd/envoycp/
  pkg: any of: pkg/
