Repository erikbos/gatekeeper: changes, and which Codecov flags are due for each by the changed paths.
All: managementserver, authserver, controlplane, accesslogserver, pkg

.codecov.yml:

coverage:
  precision: 0
  status:
    patch:
      default:
        informational: true
    project:
      default:
        informational: true
      managementserver:
        flags:
          - managementserver
          - pkg
      authserver:
        flags:
          - authserver
          - pkg
      controlplane:
        flags:
          - controlplane
          - pkg
      accesslogserver:
        flags:
          - accesslogserver
          - pkg

flags:
  managementserver:
    paths:
      - cmd/managementserver/
  authserver:
    paths:
      - cmd/frontend/
  controlplane:
    paths:
      - cmd/controlplane/
  accesslogserver:
    paths:
      - cmd/accesslogserver/
  pkg:
    paths:
      - pkg/

gha: add Run go generate to e2e tests
  .github/workflows/e2e.yaml
Due: none

makefile: run Go generate before tests
  Makefile
Due: none

test update
  openapi/gatekeeper.yaml
Due: none

gha: upgrade CodeQL Action to v2
  .github/workflows/codeql-analysis.yml
Due: none

Store scope of apiproduct
  pkg/db/cassandra/apiproduct.go
Due: pkg

Create column to store scope
  pkg/db/cassandra/init.go
Due: pkg

Test storing of apiproduct scope
  tests/dbadmin/apiproduct.py
Due: none

Do not block PR on coverage change
  .codecov.yml
Due: none

doc: update apiproduct example
  docs/api/apiproduct.md
Due: none

Tame codecov to not gate on PR
  .codecov.yml
Due: none

Test
  openapi/gatekeeper.yaml
Due: none

some code remove
  cmd/managementserver/handler/apiproduct.go
Due: managementserver

Add code back
  cmd/managementserver/handler/apiproduct.go
Due: managementserver

ms: fix storing scope of apiproduct (#153)
  docs/api/apiproduct.md
  pkg/db/cassandra/apiproduct.go
  pkg/db/cassandra/init.go
  tests/dbadmin/apiproduct.py
Due: pkg

codecov: not gate on non-PR commits
  .codecov.yml
Due: none

Update created status code to 201
  openapi/gatekeeper.yaml
Due: none

Make route & cluster's read-only fields submittable
  Makefile
  cmd/managementserver/handler/cluster.go
  cmd/managementserver/handler/listener.go
  cmd/managementserver/handler/route.go
  openapi/gatekeeper.yaml
  tests/dbadmin/cluster.py
  tests/dbadmin/listener.py
  tests/dbadmin/route.py
  tests/dbadmin/test_cluster.py
  tests/dbadmin/test_listener.py
  tests/dbadmin/test_route.py
Due: managementserver

Update asserts
  tests/dbadmin/test_cluster.py
  tests/dbadmin/test_listener.py
  tests/dbadmin/test_route.py
Due: none

Doc update
  tests/dbadmin/README.md
Due: none

Fix url paths
  tests/dbadmin/apiproduct.py
  tests/dbadmin/attribute.py
  tests/dbadmin/company.py
  tests/dbadmin/developer.py
  tests/dbadmin/developerapp.py
  tests/dbadmin/key.py
  tests/dbadmin/test_apiproduct.py
Due: none

Remove unused jsonschema code
  tests/dbadmin/common.py
Due: none

Remove dead code
  tests/dbadmin/common.py
  tests/dbadmin/test_apiproduct.py
Due: none

Remove dead code
  tests/dbadmin/cluster.py
  tests/dbadmin/route.py
Due: none

Change fields to be updatable
  openapi/gatekeeper.yaml
Due: none

Add organization test
  tests/dbadmin/organization.py
  tests/dbadmin/test_organization.py
Due: none

Remove non-default pytest option
  tests/dbadmin/README.md
Due: none

gha: log output of test suite
  Makefile
Due: none

Fix e2e url
  helm/templates/tests/e2e.yaml
  tests/dbadmin/common.py
Due: none

Test coverage for listeners, routes & clusters (#154)
  Makefile
  cmd/managementserver/handler/cluster.go
  cmd/managementserver/handler/listener.go
  cmd/managementserver/handler/route.go
  helm/templates/tests/e2e.yaml
  openapi/gatekeeper.yaml
  tests/dbadmin/README.md
  tests/dbadmin/apiproduct.py
  tests/dbadmin/attribute.py
  tests/dbadmin/cluster.py
  tests/dbadmin/common.py
  tests/dbadmin/company.py
  tests/dbadmin/developer.py
  tests/dbadmin/developerapp.py
  tests/dbadmin/key.py
  tests/dbadmin/listener.py
  tests/dbadmin/organization.py
  tests/dbadmin/route.py
  tests/dbadmin/test_apiproduct.py
  tests/dbadmin/test_cluster.py
  tests/dbadmin/test_listener.py
  tests/dbadmin/test_organization.py
  tests/dbadmin/test_route.py
Due: managementserver

Makefile fix
  Makefile
Due: none

Handle breaking changes of oapi-coden@v1.11.0
  cmd/managementserver/handler/main.go
  cmd/managementserver/handler/oapi-codegen-config.yaml
  cmd/managementserver/main.go
Due: managementserver

Upgrade Go packages to latest
  go.mod
  go.sum
Due: none

Update e2e python version
  build/Dockerfile.e2e-tests
Due: none

Update envoyproxy to 1.22
  deployment/docker/docker-compose.yaml
  helm/templates/envoyproxy/deployment.yml
Due: none

Upgrade to yaml.v3
  cmd/accesslogserver/config.go
  cmd/authserver/config.go
  cmd/controlplane/config.go
  cmd/managementserver/config.go
  go.mod
  go.sum
  pkg/shared/misc.go
Due: managementserver, controlplane, accesslogserver, pkg

Update testify to 1.8
  go.mod
  go.sum
Due: none

codecov: no threshold
  .codecov.yml
Due: none

Update packages to latest (#162)
  .codecov.yml
  build/Dockerfile.e2e-tests
  cmd/accesslogserver/config.go
  cmd/authserver/config.go
  cmd/controlplane/config.go
  cmd/managementserver/config.go
  deployment/docker/docker-compose.yaml
  go.mod
  go.sum
  helm/templates/envoyproxy/deployment.yml
  pkg/shared/misc.go
Due: managementserver, controlplane, accesslogserver, pkg
